export const auth0ClientId = ''
export const auth0Domain = 'https://ridetime.auth0.com'
// TODO: https://ridebikes.today needs new API created on Auth0
export const auth0Audience = 'http://192.168.0.23/ridetime'
export const auth0RedirectUri = 'https://auth.expo.io/@kachnitel/RideTime'
